.button {
  background-color: $main-color;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: $color-light;
  text-align: center;
  display: block;
  width: 280px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 17px;
  border: none;

  &:hover {
    background-color: $main-color-hover;
  }

  &:focus {
    background-color: $main-color-hover;
  }

  &:active {
    background-color: $main-color-down;
    color: rgba($color-light, 0.3);
  }

  &:disabled {
    background-color: $color-disabled;
  }
}

@media (min-width: $width-tablet) {
  .button {
    width: 100%;
  }
}
