.main-form {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 33px;
  padding-bottom: 49px;
  text-transform: uppercase;
}

@media (min-width: $width-tablet) {
  .main-form {
    padding-left: 155px;
    padding-right: 155px;
  }
}
