.main-form {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 49px;
  text-transform: uppercase;
}

.main-form__title {
  margin-bottom: 23px;
}

.main-form__text {
  line-height: 24px;
  margin-bottom: 33px;
}

.main-form__br {
  display: none;
}

@media (min-width: $width-tablet) {
  .main-form {
    padding-left: 155px;
    padding-right: 155px;
    padding-top: 34px;
  }

  .main-form__title {
    font-size: 30px;
    margin-bottom: 35px;
  }

  .main-form__text {
    margin-bottom: 10px;
    line-height: 24px;
  }

  .main-form__btn {
    margin-top: 41px;
    margin-bottom: 8px;
  }

  .main-form__br {
    display: block;
  }
}

@media (min-width: $width-desktop) {
  .main-form__title {
    margin-bottom: 33px;
  }

  .main-form__text {
    margin-right: 220px;
    margin-left: 220px;
    margin-bottom: 46px;
  }

  .main-form__btn {
    margin-top: 0;
    margin-bottom: 16px;
    width: 459px;
  }
}
