.main-footer {
  text-align: center;
  margin-top: 29px;
}

.main-footer__hastag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.main-footer__developers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 35px;
}

.main-footer__developers-img {
  width: 27px;
  height: 34px;
}

@media (min-width: $width-tablet) {
  .main-footer {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 0;
    padding-top: 2px;
  }

  .main-footer__developers {
    margin: 0;
    margin-top: 7px;
    margin-right: 49px;
  }

  .main-footer__hastag {
    margin-top: 39px;
    margin-left: 60px;
  }
}

@media (min-width: $width-desktop) {
  .main-footer__hastag {
    margin-left: 120px;
  }

  .main-footer__developers {
    margin-right: 108px;
  }
}
