.main-features {
  padding-top: 29px;
  text-transform: uppercase;
}

.main-features__title {
  margin-left: 32px;
  margin-right: 33px;
}

.main-features__text {
  line-height: 26px;
  color: $color-grey;
  text-align: center;
  margin-top: 27px;
  margin-left: 32px;
  margin-right: 33px;
  margin-bottom: 47px;
}

.main-features__list {
  @include clear-list;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

@media (min-width: $width-tablet) {
  .main-features {
    padding-top: 37px;
  }

  .main-features__text {
    margin-left: 21px;
    margin-right: 24px;
    margin-bottom: 50px;
  }

  .main-features__title {
    margin-left: 139px;
    margin-right: 139px;
    font-size: 21px;
  }

  .main-features__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (min-width: $width-desktop) {
  .main-features__title {
    margin-left: 355px;
    margin-right: 355px;
  }
}
