.main-text__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.main-text__text {
  line-height: 26px;
  color: $color-grey;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $width-tablet) {
  .main-text__text {
    margin-right: 165px;
    margin-left: 165px;
  }
}
