.sublist {
  @include clear-list;
  background-color: $color-light;
  color: $color-dark;
  padding-left: 70px;
  padding-right: 41px;
  padding-top: 17px;
  padding-bottom: 12px;
  text-align: left;
}

.sublist__subitem {
  margin-bottom: 27px;
}

.sublist__title {
  text-align: left;
  position: relative;
  margin-bottom: 5px;

  &--one::before {
    content: "";
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 37px;
    height: 36px;
    position: absolute;
    bottom: 0;
    left: -48px;
  }

  &--two::before {
    content: "";
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 38px;
    position: absolute;
    bottom: 0;
    left: -46px;
  }

  &--three::before {
    content: "";
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 42px;
    height: 38px;
    position: absolute;
    bottom: -8px;
    left: -52px;
  }
}

@media (min-width: $width-tablet) {
  .sublist {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0;
  }

  .sublist__subitem {
    width: 256px;
    padding-top: 139px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 61px;
    margin-bottom: 0;

    &--one {
      order: 1;
    }

    &--two {
      order: 3;
    }

    &--three {
      order: 2;
    }
  }

  .sublist__title {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 20px;

    &--one::before {
      width: 75px;
      height: 72px;
      left: 45px;
      bottom: 55px;
    }

    &--two::before {
      width: 64px;
      height: 76px;
      left: 50px;
      bottom: 54px;
    }

    &--three::before {
      width: 77px;
      height: 70px;
      left: 44px;
      bottom: 54px;
    }
  }

  .sublist__description {
    margin: 0;
  }
}

@media (min-width: $width-desktop) {
  .sublist__subitem {
    width: 400px;
    padding-bottom: 82px;
  }

  .sublist__title {
    &--one::before {
      left: 114px;
    }

    &--two::before {
      left: 121px;
    }

    &--three::before {
      left: 115px;
    }
  }

  .sublist__description {
    margin-left: 10px;
    margin-right: 10px;
  }
}
