.video {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.video__title {
  margin-top: 33px;
  margin-bottom: 25px;
}

.video__text {
  margin-left: 44px;
  margin-right: 41px;
  margin-bottom: 31px;
}

.video__video-img {
  display: block;
  width: 320px;
  height: 200px;
  margin-bottom: 140px;
}

.video__navigation {
  width: 280px;
  position: absolute;
  bottom: -64px;
  left: 20px;
}

.video__time-box {
  background-color: rgba($color-dark, 0.6);
  padding-top: 22px;
  padding-right: 23px;
  padding-bottom: 20px;
  padding-left: 22px;
}

.video__time {
  width: 235px;
  height: 3px;
  background-color: rgba($color-light, 0.2);
}

.video__btn-box {
  background-color: $color-grey-two;
  padding-top: 22px;
  padding-right: 17px;
  padding-left: 19px;
  padding-bottom: 17px;
  display: flex;
}

.video__btn {
  border: none;
  background-color: transparent;

  &--restart {
    margin-right: 122px;
  }

  &--quality {
    margin-right: 18px;
  }
}

@media (min-width: $width-tablet) {
  .video {
    width: $width-tablet;
  }

  .video__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 29px;
  }

  .video__text {
    margin-left: 161px;
    margin-right: 167px;
    margin-bottom: 70px;
  }

  .video__video-img {
    width: 648px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 44px;
  }

  .video__navigation {
    display: flex;
    width: 648px;
    bottom: 0;
    left: 60px;
  }

  .video__time-box {
    position: absolute;
    background-color: transparent;
    bottom: 25px;
    left: 70px;
  }

  .video__time {
    width: 389px;
  }

  .video__btn-box {
    width: 648px;
    background-color: rgba($color-dark, 0.6);
    padding-right: 41px;
    padding-left: 29px;
    padding-top: 36px;
    padding-bottom: 35px;
  }

  .video__btn {
    &--restart {
      margin-right: 465px;
    }
  }
}

@media (min-width: $width-desktop) {
  .video {
    width: $width-desktop;
  }

  .video__title {
    margin-top: 72px;
  }

  .video__text {
    margin-left: 392px;
    margin-right: 392px;
    margin-bottom: 68px;
  }

  .video__video-img {
    width: 800px;
    margin-bottom: 89px;
  }

  .video__navigation {
    width: 800px;
    left: 200px;
  }

  .video__btn-box {
    width: 800px;
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .video__btn {
    &--restart {
      margin-right: 613px;
    }
  }

  .video__time {
    width: 540px;
  }
}
