$main-color: #81b3d2;
$main-color-hover: #669ec0;
$main-color-down: #5496bd;
$color-light: #ffffff;
$color-dark: #000000;
$color-grey: #333333;
$color-grey-two: #eeeeee;
$color-grey-three: #d6d6d6;
$color-grey-four: #f2f2f2;
$color-grey-five: #5c6870;
$color-grey-six: #d5d5d5;
$color-link-active: #766357;
$color-link-active-hover: #604e43;
$color-disabled: #e5e5e5;
$width-tablet: 768px;
$width-desktop: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
