$main-color: #81b3d2;
$color-light: #ffffff;
$color-dark: #000000;
$color-grey: #333333;
$color-grey-two: #eeeeee;
$color-grey-three: #d6d6d6;
$color-grey-four: #f2f2f2;
$width-tablet: 768px;
$width-desktop: 1200px;
